<div class="work_show_page">
  <h2><%=@work.name %></h2>

  <%unless @work.content.blank?%>
  <div class="content_area">
    <h5>作業内容</h5>
    <p><%=@work.content%></p>
  </div>
  <%end%>

  <div class="time_area">
    <h5>日時</h5>
    <p><%=l @work.start_date, format: :short%>
    <span>~</span>
    <%=l @work.end_date, format: :short%></p>
  </div>

  <%if @personnels.blank?%>
    <h2>⚠️予定人数が設定されていません</h2>
  <%else%>
    <table class="table">
      <thead class="table-dark">
        <th>会社名</th>
        <th>予定人数</th>
      </thead>
      <tbody>
         <% @personnels.each do |personnel| %>
          <tr>
            <td><%=personnel.company_name%></td>
            <td><%=personnel.count %>人</td>
          </tr>
        <%end%>
      </tbody>
    </table>
  <%end%>
  <%if @site.user_id == current_user.id%>
    <div class="work_btn_area">
      <div>
        <%=link_to '作業内容を編集', edit_site_work_path(@site, @work)%>
      </div>
    </div>
  <%end%>
</div>