<% new_notifications.each do |notification| %>

  <%case notification.action when 'follow'%>

    <%=link_to notification_path(notification), method: :patch, class: 'notification_tab_content' do %>
      <div>
        <%=image_tag notification.visitor.get_profile_image, class: 'tab_user_profile_image' %>
      </div>

      <div class="tab_content_names">
        <h6><%= notification.visitor.get_full_name(notification.visitor) %>さんがあなたをフォローしました。</h6>
      </div>

    <%end%>

  <%when 'site_user'%>

    <%=link_to notification_path(notification), method: :patch, class: 'notification_tab_content' do %>

      <div>
        <%=image_tag notification.visitor.get_profile_image, class: 'tab_user_profile_image' %>
      </div>

      <div class="tab_content_names">
        <h6><%= notification.visitor.get_full_name(notification.visitor) %>さんがあなたを<%=notification.site.name %>に招待しました。</h6>
      </div>

    <%end%>

  <%when 'create_work'%>

    <%=link_to notification_path(notification), method: :patch, class: 'notification_tab_content' do %>
      <div>
        <%=image_tag notification.visitor.get_profile_image, class: 'tab_user_profile_image' %>
      </div>

      <div class="tab_content_names">
        <p>現場名</p>
        <p><%=notification.site.name%></p>
        <p><%=l notification.work.start_date, format: :short%>開始予定</p>
        <h6><%=notification.work.name %>の予定が作成されました。</h6>
      </div>

    <%end%>

  <%when 'update_work'%>

    <%=link_to notification_path(notification), method: :patch, class: 'notification_tab_content' do %>
      <div>
        <%=image_tag notification.visitor.get_profile_image, class: 'tab_user_profile_image' %>
      </div>

      <div class="tab_content_names">
        <p>現場名</p>
        <p><%=notification.site.name%></p>
        <p><%=l notification.work.start_date, format: :short%>開始予定</p>
        <h6><%=notification.work.name %>の予定が更新されました。</h6>
      </div>

    <%end%>

  <%when 'cancel_work'%>

    <%=link_to notification_path(notification), method: :patch, class: 'notification_tab_content' do %>
      <div>
        <%=image_tag notification.visitor.get_profile_image, class: 'tab_user_profile_image' %>
      </div>

      <div class="tab_content_names">
        <p>現場名</p>
        <p><%=notification.site.name%></p>
        <p><%=l notification.work.start_date, format: :short%>開始予定</p>
        <h6><%=notification.work.name %>は中止になりました。</h6>
      </div>

    <%end%>

  <%end%>

<%end%>



<%if new_notifications.blank?%>
  <h2 class="no_notification_message"><i class="fa-solid fa-bell"></i>通知はありません</h2>
<%else%>
  <%=link_to notifications_update_path, method: :patch, data: { confirm: '全て確認済みにしますか？' }, id: 'check_notifications_btn' do %>
    <i class="fa-solid fa-circle-check"></i>
  <%end%>
<%end%>