<% site_users.each do |site_user| %>
  <%=link_to user_path(site_user), class: 'tab_content' do%>

      <div>
        <%= image_tag site_user.get_profile_image, class: 'tab_user_profile_image' %>
      </div>

      <div class="tab_content_names">
        <h2><%= site_user.get_full_name(site_user) %></h2>
        <p><%= site_user.company_name %></p>
      </div>

  <%end%>
  <!--追加用フォーム-->
  <div>
    <%=link_to '削除する', site_user_destroy_path(site, site_user), method: :delete, class: 'btn btn-success' %>
  </div>

<%end%>

