<% site_users.each do |user| %>
  <%=link_to user_path(user), class: 'site_users_tab_content' do%>

    <div>
      <%= image_tag user.get_profile_image, class: 'tab_user_profile_image' %>
    </div>

    <div class="tab_content_names">
      <h2><%= user.get_full_name(user) %></h2>
      <p><%= user.company_name %></p>
    </div>
    <!--削除用フォーム-->
    <div>
      <%=form_with model: site_user, url: site_user_destroy_path(site, user), local: true, method: :delete do |f| %>
        <%= f.submit "削除", class: 'btn btn-danger tab_btn'%>
      <%end%>
    </div>

  <%end%>

<%end%>

