<div class="user_page">

  <div class="user_content">

    <!--ユーザー画像-->
    <div class="image_area">
      <%=image_tag user.get_profile_image, class: 'profile_image' %>
    </div>

　　<!--ユーザー名と企業名-->
    <div class="profile_area">
      <h1><%=user.get_full_name(user) %></h1>
      <p>所属: <%=user.company_name %></p>
      <% if current_user == user || current_user.following?(user) && user.following?(current_user) %>
        <p>TEL: <%=user.phone_number %></p>
        <p>Email: <%=user.email %><p>
      <%end%>
    </div>

  </div>

  <%if current_user.id == user.id %>
    <div class="user_btn_area">
      <%=link_to '編集する', edit_user_path(user.id), class: 'btn btn-success btn-lg user_btn'%>
    </div>
  <%elsif current_user.following?(user)%>
    <div class="user_btn_area">
      <%=link_to 'フォロー外す', user_relationships_path(user.id), method: :delete, remote: true, class: 'btn btn-danger btn-lg user_btn' %>
    </div>
  <%else%>
    <div class="user_btn_area">
      <%=link_to 'フォローする', user_relationships_path(user.id), method: :post, remote: true, class: 'btn btn-success btn-lg user_btn' %>
    </div>
  <%end%>

</div>
