<div class="edit_user_content">
  <h2>ユーザー編集</h2>
  <%= render 'layouts/errors', obj: @user %>
  <%= form_with model: @user, url: user_path(@user), method: :patch do |f| %>
    <table class="form_items">
      <tbody>
        <tr>
          <td colspan=2 class="form_item pb-3 file_field">
            <%= f.label :profile_image,"プロフィール画像", class: 'label'%><br>
            <%= f.file_field :profile_image %>
          </td>
        </tr>
          <td class="form_item">
            <%= f.label :family_name,"性", class: 'label' %><br>
            <%= f.text_field :family_name, placeholder: "山田", autofocus: true, class: 'form_field' %>
          </td>
          <td id="sp_form_name" class="form_item">
            <%= f.label :name,"名", class: 'label', id: 'sp_label_name'%><br>
            <%= f.text_field :name, placeholder: "太郎", autofocus: true, class: 'form_field' %>
          </td>
        </tr>

        <tr>
          <td class="form_item">
            <%= f.label :kana_family_name,"セイ", class: 'label' %><br>
            <%= f.text_field :kana_family_name, placeholder: "ヤマダ", autofocus: true, class: 'form_field' %>
          </td>

          <td id="sp_form_name" class="form_item">
            <%= f.label :kana_name,"メイ", class: 'label', id: 'sp_label_name' %><br>
            <%= f.text_field :kana_name, placeholder: "タロウ", autofocus: true, class: 'form_field' %>
          </td>
        </tr>

        <tr>
          <td colspan=2 class="form_item">
            <%= f.label :phone_number,"電話番号", class: 'label' %><br>
            <%= f.text_field :phone_number, placeholder: "例）09012345678", autofocus: true, class: 'form_field_long' %>
          </td>
        </tr>

        <tr>
          <td colspan=2 class="form_item">
            <%= f.label :company_name,"会社名", class: 'label' %><br>
            <%= f.text_field :company_name, placeholder: "例）WORK株式会社", autofocus: true, class: 'form_field_long' %>
          </td>
        </tr>

      </tbody>
    </table>
    <div class='text-center'>
      <%= f.submit "変更", class: "btn btn-success"%>
    </div>
  <%end%>
</div>
