<div class="new_site_page">
  <div class="new_site_form">
    <h2>現場作成</h2>

    <!--入力フォーム-->
    <%=form_with model: user, url: user_session_path, local: true, method: :post do |f| %>

    <table class="form_items">
      <tbody>

        <tr>
          <td class="form_item">
            <%= f.label :email,"メールアドレス", class: 'label' %><br>
            <%= f.email_field :email, placeholder: "例）yamada@yama2.co.jp", autofocus: true, class: 'form_field_long' %>
          </td>
        </tr>

        <tr>
          <td class="form_item">
            <%= f.label :password,"パスワード(6文字以内)", class: 'label' %><br>
            <%= f.password_field :password, autocomplete: 'off', class: 'form_field_long' %>
          </td>
        </tr>

      </tbody>
    </table>
    <div class='text-center'>
      <%= f.submit "ログイン", class: "btn btn-success"%>
    </div>
    <%end%>

  </div>

</div>
