<%= render 'layouts/errors', obj: @personnel %>
<div class="personnels_form_page">
  <h2>予定人数作成</h2>
  <div class="personnels_table">

    <table class="table">
      <thead class="table-dark">
        <th>会社名</th>
        <th>ユーザー名</th>
        <th>予定人数</th>
        <th></th>
      </thead>
      <tbody>
        <%@site_users.each do |user| %>
          <%= form_with model: @form, url: site_work_personnels_path(@site, @work), local: true, method: :post do |f| %>
            <tr>
              <td><%=user.company_name%></td>
              <td><%=user.get_full_name(user)%></td>
              <td><%=f.number_field :count, min: 0, class: 'number_field' %>人</td>
              <%=f.hidden_field :work_id, :value => @work.id %>
              <%=f.hidden_field :user_id, :value => user.id %>
              <%=f.hidden_field :company_name, :value => user.company_name %>
              <td><%= f.submit "送信" %></td>
            </tr>
          <%end%>
        <%end%>
      </tbody>
    </table>
    
     
  </div>
</div>



