<% join_sites.each do |site| %>
  <%=link_to site_works_path(site), class: 'site_tab_content' do%>
    <div id="site_names" class="tab_content_names">
      <h2><%= site.name %></h2>
      <p><%= site.description %></p>
      <p>施工主:<%= site.user.company_name %></p>
      <p>代表者:<%= site.user.family_name %></p>
    </div>
  <%end%>
<%end%>

<%if join_sites.blank?%>
  <h2 class="site_index_message"><i class="fa-solid fa-person-digging"></i>現場はありません</h2>
<%end%>