<%= render 'layouts/errors', obj: @site %>
<div class="site_form_page">
  <div class="new_site_content">
    <h2>現場編集</h2>
    <%=form_with model: @site, url: site_path, local: true, method: :patch do |f| %>
      <table class="form_items">
        <tr>
          <td class="form_item">
            <%= f.label :name,"現場名", class: 'label' %><br>
            <%= f.text_field :name, placeholder: "現場名を入れてください", autofocus: true, class: 'form_field_long' %>
          </td>
        </tr>
        <tr>
          <td class="form_item">
            <%= f.label :description,"現場概要", class: 'label' %><br>
            <%= f.text_area :description, placeholder: "現場概要を入れてください", autofocus: true, class: 'form_field_big' %>
          </td>
        </tr>
      </table>
      <div class="edit_site_btn">
        <%= f.submit "変更", class: "btn btn-success"%>
        <%=link_to '現場削除', site_path(@site), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %>
      </div>
    <%end%>
  </div>
</div>