<%= render 'layouts/errors', obj: Site.new %>
<div class="site_form_page">
  <div class="new_site_content">
    <h2>現場作成</h2>
    <%=form_with model: Site.new, url: sites_path, local: true, method: :post do |f| %>
      <table class="form_items">
        <tr>
          <td class="form_item">
            <%= f.label :name,"現場名", class: 'label' %><br>
            <%= f.text_field :name, placeholder: "現場名を入れてください", autofocus: true, class: 'form_field_long' %>
          </td>
        </tr>
        <tr>
          <td class="form_item">
            <%= f.label :description,"現場概要", class: 'label' %><br>
            <%= f.text_area :description, placeholder: "現場概要を入れてください", autofocus: true, class: 'form_field_big' %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.submit "登録", class: "btn btn-success"%>
          </td>
        </tr>
      </table>
    <%end%>
  </div>
</div>