<li><%=link_to 'カレンダー', site_works_path(site), class: "nav-link" %></li>
<%if site.user_id == current_user.id %>
  <li><%=link_to '予定作成', new_site_work_path(site), class: "nav-link" %></li>
  <li><%=link_to '現場関係者', site_users_path(site), class: "nav-link" %></li>
<%end%>
<li><%=link_to '通知', notifications_path, class: "nav-link" %></li>
<li><%=link_to 'Home', '/', class: "nav-link" %></li>
<li><%=link_to 'Log Out', destroy_user_session_path, method: :delete, class: "nav-link" %></li>